body{
  background: #f4f4f4;
  height: 100vh;
}
.body-container{
  margin:15px;

}
.navbar{
  background: #8b0000 !important;
}
.true{
    background:blue;
  }

  .site-footer{
    position:0;
    bottom: 0;
    background:#8b0000;
  }
