  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/5d390a7d82.js" crossorigin="anonymous"></script>

    </body>
  <div class='site-footer' style="width:100%;text-align:center;margin:10px 0 0 0;padding:10px 0;">
    <a href="https://www.facebook.com/sooraj.shukla.395"> <i class="footer-icon fab fa-facebook-square"></i></a>
    <a href="https://www.instagram.com/soorajshukla974"> <i class="footer-icon fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/sooraj-shukla-1330a5195/"><i class="footer-icon fab fa-linkedin"></i></a><br>
    <p style="color:#ebe6e6;margin-top:0;display:inline;">&copy,2019
      <pre style='display:inline;color:#ebe6e6;'> Author:Sooraj Shukla</pre>
    </p>
  </div>

  </html>
