<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <div>
    <form action='/blog' method='post'>
      <input type='text' name='heading' placeholder='Enter the heading' required autofocus>
      <input type='text area' name='content' placeholder='content here' required>
      <button type='submit'>Create Blog</button>
    </form>
  </div>
</body>
</html>
