<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="../css/styleSignup.css">
</head>

<body>
  <div class="div">
    <div class="inside-div">
      <!-- <div style="width:210px;">
        <h3 style="color:rgb(216, 146, 34);font-weight:900;text-align:center;">Wanna manage tasks???</h3>
      </div> -->
      <h1 style="color:rgb(216, 146, 34);font-weight:900;text-align:center;">Sign in Please!!!</h1>
      <form class="signup-form" action="/login" method="post">
        <input type="email" name="email" placeholder='Email' autofocus required>
        <input type="password" name="password" placeholder='password' required>

        <button type="submit" name="button">Sign in</button>
        <div class="">
          <p sytle='display:inline;'>Don't have an account?<button><a href="/signup">Sign up</a></button></p>
        </div>
      </form>
    </div>
  </div>
  <div style="background:rgb(186, 124, 32);width:100%;text-align:center;margin:10px 0 0 0;padding:5px 0;">
    <a style:'color:black;' href="https://www.facebook.com/sooraj.shukla.395"> <i class="footer-icon fab fa-facebook-square"></i></a>
    <a style:'color:black;' href="https://www.instagram.com/soorajshukla974"> <i class="footer-icon fab fa-instagram"></i></a>
    <a style:'color:black;' href="https://www.linkedin.com/in/sooraj-shukla-1330a5195/"><i class="footer-icon fab fa-linkedin"></i></a><br>
    <p style="color:#ebe6e6;margin-top:0;display:inline;">&copy,2019<pre style='display:inline;color:white;'> Author:Sooraj Shukla</pre></p>
  </div>

  <script src="https://kit.fontawesome.com/5d390a7d82.js" crossorigin="anonymous"></script>
</body>

</html>
